$turquoise: #3fc4c0;
$turquoise-dark: #36a6a1;

.project-list a {
  color: inherit;
}

/** Grey **/
/* Light */
#splash,
.page-footer p,
p.skills span span {
  color: #BFBFBF;
}

.about-contact section ~ header,
.about-contact section ~ section {
  background: #f2f2f2;
}

/* Medium */
h4 span,
h5 span,
h6 span,
h6 + p,
.resume blockquote + p small {
  opacity: .7;
}

/** Turquoise **/
/* Medium */
a,
h5,
blockquote p,
article header h2,
.page-header a,
#current-article header.resume h2 {
  color: $turquoise;
}

h3 {
  border-color: $turquoise;
}

a.button,
.about-contact .contact,
#controls-close:before,
#controls-close:after {
  background: $turquoise;
}

/* Dark */
.page-header a:hover,
#controls-close:hover {
  color: $turquoise-dark;
}

a.button:hover,
#controls-close:hover:before,
#controls-close:hover:after {
  background: $turquoise-dark;
}

/** White **/
a.button,
.about-contact .contact,
.about-contact .contact a {
  color: #fff;
}
