@mixin responsive-typography( $min-width, $font-size ) {
  @media only screen and (min-width: $min-width) { html { font-size: $font-size; } }
}

html,
body,
#app {
  height: 100%;
  width: 100%;
}

html {
  background-color: #f8fcfc;
  font-size: 52.5%;
  min-width: 320px;
}

@include responsive-typography( 600px,  55%   );
@include responsive-typography( 800px,  57.5% );
@include responsive-typography( 1000px, 60%   );
@include responsive-typography( 1200px, 62.5% );

#app {
  -webkit-overflow-scrolling: touch;
  overflow-y: scroll;
}

.page-footer,
#current-article header,
#current-article section {
  margin: 0 auto;
  max-width: 100%;
  min-width: 320px;
  padding: 20px;
  width: 100%;
  width: calc(300px + 50vw);
}

@media only screen and (min-width: 600px) {
  .page-footer,
  #current-article header,
  #current-article section {
    max-width: 1000px;
  }
}

#splash {
  align-items: center;
  background: #fff;
  bottom: 0;
  display: flex;
  flex-direction: column;
  font-size: 4rem;
  font-weight: 300;
  justify-content: center;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 6;
}
