@import "../css/variables.scss";

/** Header Component **/
.page-header {
  p,
  ul {
    text-align: center;
  }

  p {
    font-size: 4rem;
    font-weight: 300;
    line-height: 2;
    transition: $standard;
  }

  nav {
    background: #fff;
    bottom: 0;
    box-shadow: $nav_shadow;
    left: 0;
    line-height: 44px;
    min-width: 320px;
    position: fixed;
    text-align: center;
    width: 100%;
    z-index: 4;
  }

  ul {
    font-size: 0;
  }

  li {
    display: inline-block;
    font-size: 14px;
    list-style-type: none;
    overflow: hidden;
    vertical-align: top;
  }

  a {
    cursor: pointer;
    display: block;
    height: 44px;
    line-height: 64px;
    overflow: hidden;
    position: relative;
    vertical-align: top;
    width: 64px;
  }
}

@media only screen and (min-width: 800px) {
  .page-header {
    background: #fff;
    box-shadow: $nav_shadow;
    left: 0;
    margin-bottom: 44px;
    position: fixed;
    right: 0;
    top: 0;
    transition: $standard;
    z-index: 5;

    &.minimise p {
  	  font-size: 3.2rem;
      line-height: 1.25;
    }

    nav {
      bottom: auto;
      box-shadow: none;
      position: relative;
      top: 100%;
      transition: $standard;
    }

    nav ul {
      overflow: hidden;
    }

    nav ul div {
      justify-content: flex-start;
      top: 100%;
    }
  }

  #about-me {
    border-top: calc(8rem + 44px) solid #43BAB7;
    box-sizing: content-box;
  }
}
