/** Menu Component **/
/* Icons */
#about, #resume {
  position: relative;
}

#about:before, #resume:before, a.phone:before, a.email:before {
  background: transparent no-repeat center center;
  content: '';
  display: inline-block;
  height: 24px;
  vertical-align: top;
  width: 30px;
}

#about:before, #resume:before {
  display: block;
  left: 50%;
  margin-left: -15px;
  position: absolute;
  top: 3px;
}

#resume:before {
  background-image: url('../images/icon-about.png');
}

#about:before {
  background-image: url('../images/icon-resume.png');
}

a.phone:before {
  background-image: url('../images/icon-phone.png');
}

a.email:before {
  background-image: url('../images/icon-email.png');
}

#controls-close {
  max-width: 66px;
  opacity: 1;
  position: relative;
  transition: .2s ease max-width .2s, .5s ease opacity .4s;
}

#controls-close:before, #controls-close:after {
  content: '';
  height: 2px;
  left: 50%;
  margin: -1px;
  position: absolute;
  top: 35%;
  transform: rotate(135deg);
  transition: all .5s ease .4s;
  width: 2px;
}

#controls-close:before {
  margin-left: -10px;
  width: 20px;
}

#controls-close:after {
  height: 20px;
  margin-top: -10px;
}

#controls-close:hover:before, #controls-close:hover:after {
  transition: all .5s ease;
}

#controls-close.active {
  max-width: 0;
  opacity: 0;
  transition: max-width .2s ease .2s, opacity .5s ease;
}

#controls-close.active:before, #controls-close.active:after {
  height: 2px;
  transform: rotate(0);
  transition: .5s ease all;
  margin: -1px;
  width: 2px;
}
