.project-list {
  font-size: 0;
  text-align: center;
}

.project-list article {
  background: #fff no-repeat center center;
  background-size: cover;
  box-shadow: 0 2px 2px rgba(0,0,0,0.2);
  cursor: pointer;
  display: inline-block;
  font-size: 1rem;
  margin: 0 20px 20px;
  position: relative;
  text-align: justify;
  transition: .5s ease all;
  transition-delay: .5s;
  width: 280px;
}

.project-list article:hover,
.project-list article.active {
  box-shadow: 0 4px 10px rgba(0,0,0,0.4);
  transform: scale(1.05);
  transition-delay: 0s;
  z-index: 2;
}

.project-list a {
  display: block;
  height: 100%;
  width: 100%;
}

@media only screen and (min-width: 600px) {
  .project-list {
  	display: flex;
  	flex-wrap: wrap;
  	justify-content: center;
  }

  .project-list article {
  	margin: 0 10px 20px;
  }
}

article header {
  padding: 20px;
}

#current-article section {
  padding-top: 0;
}

article span img,
article > a img {
  width: 100%;
  vertical-align: top;
}
