@import "../css/variables.scss";

.project-list {
  font-size: 0;
  text-align: center;

  article {
    background: #fff no-repeat center center;
    background-size: cover;
    box-shadow: $article_shadow;
    cursor: pointer;
    display: inline-block;
    font-size: 1rem;
    margin: 0 20px 20px;
    position: relative;
    text-align: justify;
    transition: $standard;
    width: 280px;

    &:hover,
    &.active {
      box-shadow: $article_shadow_hover;
      transform: scale(1.05);
      transition-delay: 0s;
      z-index: 2;
    }
  }

  a {
    display: block;
    height: 100%;
    width: 100%;
  }
}

@media only screen and (min-width: 600px) {
  .project-list {
  	display: flex;
  	flex-wrap: wrap;
  	justify-content: center;

    article {
    	margin: 0 10px 20px;
    }
  }
}

article {
  header {
    padding: 20px;
  }

  span img,
  > a img {
    width: 100%;
    vertical-align: top;
  }
}

#current-article section {
  padding-top: 0;
}
